doctype html
html
head
    meta(charset='UTF-8')
    title DPLAY IoT
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    style
        include ../style/mainLayout.css
body
    div#wapper
        div.member
            button.btn_member.Home(onclick="location.href='/'") HOME
        header
            span(style='color:black') Button
        div.menubar
            button.btn.LED(onclick="location.href='/LED'") LED
            button.btn.Sensor(onclick="location.href='/Sensor'") Sensor
            button.btn.Motor(onclick="location.href='/Motor'") DC Motor
            button.btn.Motor(onclick="location.href='/Servo'") Servo
            button.btn.Button(onclick="location.href='/Button'") Button
            button.btn.Button(onclick="location.href='/Tilt'") Tilt
            button.btn.Buzzer(onclick="location.href='/Buzzer'") Buzzer
            button.btn.Settings(onclick="location.href='/Settings'") Settings
        div.content
            div.button_pin_group
                button#PIN02.button_pin.pin PIN02 ON
                button#PIN03.button_pin.pin PIN03 ON
                button#PIN04.button_pin.pin PIN04 ON
                button#PIN05.button_pin.pin PIN05 ON
                button#PIN06.button_pin.pin PIN06 ON
                button#PIN07.button_pin.pin PIN07 ON
            div.button_pin_group
                button#PIN08.button_pin.pin PIN08 ON
                button#PIN09.button_pin.pin PIN09 ON
                button#PIN10.button_pin.pin PIN10 ON
                button#PIN11.button_pin.pin PIN11 ON
                button#PIN12.button_pin.pin PIN12 ON
                button#PIN13.button_pin.pin PIN13 ON
            div.button_pin_group
                button#PIN02_.button_pin.pin PIN02 OFF
                button#PIN03_.button_pin.pin PIN03 OFF
                button#PIN04_.button_pin.pin PIN04 OFF
                button#PIN05_.button_pin.pin PIN05 OFF
                button#PIN06_.button_pin.pin PIN06 OFF
                button#PIN07_.button_pin.pin PIN07 OFF
            div.button_pin_group
                button#PIN08_.button_pin.pin PIN08 OFF
                button#PIN09_.button_pin.pin PIN09 OFF
                button#PIN10_.button_pin.pin PIN10 OFF
                button#PIN11_.button_pin.pin PIN11 OFF
                button#PIN12_.button_pin.pin PIN12 OFF
                button#PIN13_.button_pin.pin PIN13 OFF
            div.sensor_value_group
                div(style='color:white') Sensor value
                br
                div  &nbsp;
                    span.display_sensor_value(style='color:white') PIN02: &nbsp;
                    span#result02.display_sensor_value(style='color:white') OFF
                div  &nbsp;
                    span.display_sensor_value(style='color:white') PIN03: &nbsp;
                    span#result03.display_sensor_value(style='color:white') OFF
                div  &nbsp;
                    span.display_sensor_value(style='color:white') PIN04: &nbsp;
                    span#result04.display_sensor_value(style='color:white') OFF
                div  &nbsp;
                    span.display_sensor_value(style='color:white') PIN05: &nbsp;
                    span#result05.display_sensor_value(style='color:white') OFF
                div  &nbsp;
                    span.display_sensor_value(style='color:white') PIN06: &nbsp;
                    span#result06.display_sensor_value(style='color:white') OFF
                div  &nbsp;
                    span.display_sensor_value(style='color:white') PIN07: &nbsp;
                    span#result07.display_sensor_value(style='color:white') OFF
                div  &nbsp;
                    span.display_sensor_value(style='color:white') PIN08: &nbsp;
                    span#result08.display_sensor_value(style='color:white') OFF
                div  &nbsp;
                    span.display_sensor_value(style='color:white') PIN09: &nbsp;
                    span#result09.display_sensor_value(style='color:white') OFF
                div  &nbsp;
                    span.display_sensor_value(style='color:white') PIN10: &nbsp;
                    span#result10.display_sensor_value(style='color:white') OFF
                div  &nbsp;
                    span.display_sensor_value(style='color:white') PIN11: &nbsp;
                    span#result11.display_sensor_value(style='color:white') OFF
                div  &nbsp;
                    span.display_sensor_value(style='color:white') PIN12: &nbsp;
                    span#result12.display_sensor_value(style='color:white') OFF
                div  &nbsp;
                    span.display_sensor_value(style='color:white') PIN13: &nbsp;
                    span#result13.display_sensor_value(style='color:white') OFF
            div.button_pin_group
                div#result(style='color:white') BLANK

    script.
        $(document).ready(function () {
            var timer;
            var sensor;
            var msg;
            $('.sensor').click(function () {
                sensor = $(this).attr('id');
            });
            $('.pin').click(function () {
                clearInterval(timer);
                const pin = $(this).attr('id');
                $.ajax({
                    url: 'http://localhost:3000/command/Button',
                    dataType: 'json',
                    type: 'POST',
                    data: {'pin': pin, 'sensor': sensor}
                });
                timer = setInterval(function () {
                    $.ajax({
                        url: 'http://localhost:3000/command/Button',
                        dataType: 'json',
                        type: 'POST',
                        data: {'pin': pin, 'sensor': sensor},
                        success: function (result) {
                            if (result['result'] === true) {
                                var pin00 = result['pin00'];
                                var pin01 = result['pin01'];
                                var pin02 = result['pin02'];
                                var pin03 = result['pin03'];
                                var pin04 = result['pin04'];
                                var pin05 = result['pin05'];

                                $('#result00').html(pin00);
                                $('#result01').html(pin01);
                                $('#result02').html(pin02);
                                $('#result03').html(pin03);
                                $('#result04').html(pin04);
                                $('#result05').html(pin05);
                            }
                        }
                    });
                }, 500);
            });
            $('.pin_off').click(function () {
                clearInterval(timer);
                const pin = $(this).attr('id');
                $.ajax({
                    url: 'http://localhost:3000/command/Button',
                    dataType: 'json',
                    type: 'POST',
                    data: {'pin': pin, 'sensor': sensor, 'cmd_off': 'OFF'},
                    success: function (result) {
                        if (result['result'] === true) {
                            if (result['pin'] === 'PIN00OFF') {
                                $('#result00').html('OFF');
                            }
                            if (result['pin'] === 'PIN01OFF') {
                                $('#result01').html('OFF');
                            }
                            if (result['pin'] === 'PIN02OFF') {
                                $('#result02').html('OFF');
                            }
                            if (result['pin'] === 'PIN03OFF') {
                                $('#result03').html('OFF');
                            }
                            if (result['pin'] === 'PIN04OFF') {
                                $('#result04').html('OFF');
                            }
                            if (result['pin'] === 'PIN05OFF') {
                                $('#result05').html('OFF');
                            }
                        }
                    }
                });
            });
        });
    //script.
    //    $(document).ready(function () {
    //        $('.pin').click(function () {
    //            const pin = $(this).attr('id');
    //            $.ajax({
    //                url: 'http://localhost:3000/command/Button',
    //                dataType: 'json',
    //                type: 'POST',
    //                data: {'pin': pin},
    //                success: function (result) {
    //                    if (result['result'] === true) {
    //                        $(function () {
    //                            //alert(result['msg']);
    //                        });
    //                        $('#result').html(result['msg']);
    //                    }
    //                }
    //            });
    //        });
    //    });