doctype html
html
head
    meta(charset='UTF-8')
    title DPLAY IoT
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    style
        include ../style/mainLayout.css
body
    div#wapper
        div.member
            button.btn_member.Home(onclick="location.href='/'") HOME
        header
            span(style='color:black') Buzzer
        div.menubar
            button.btn.LED(onclick="location.href='/LED'") LED
            button.btn.Sensor(onclick="location.href='/Sensor'") Sensor
            button.btn.Motor(onclick="location.href='/Motor'") DC Motor
            button.btn.Motor(onclick="location.href='/Servo'") Servo
            button.btn.Button(onclick="location.href='/Button'") Button
            button.btn.Button(onclick="location.href='/Tilt'") Tilt
            button.btn.Buzzer(onclick="location.href='/Buzzer'") Buzzer
            button.btn.Settings(onclick="location.href='/Settings'") Settings
        div.content
            div.buzzer_group
                button#C.buzzer_btn.buzzer 도
                button#D.buzzer_btn.buzzer 레
                button#E.buzzer_btn.buzzer 미
                button#F.buzzer_btn.buzzer 파
                button#G.buzzer_btn.buzzer 솔
                button#A.buzzer_btn.buzzer 라
                button#B.buzzer_btn.buzzer 시
            div.sensor_pin_group
                div#result(style='color:white') BLANK
    script.
        $(document).ready(function () {
            $('.buzzer_btn').click(function () {
                const melody = $(this).attr('id');
                $.ajax({
                    url: 'http://localhost:3000/command/Buzzer',
                    dataType: 'json',
                    type: 'POST',
                    data: {'melody': melody},
                    success: function (result) {
                        if (result['result'] === true) {
                            $(function () {
                                //alert(result['msg']);
                            });
                            $('#result').html(result['msg']);
                        }
                    }
                });
            });
        });
